*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 15px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    
}

.container{
    width: 100vw;
    height: 100vh;
    
}


.container h1,
.container h3{
    color: hsl(234, 12%, 34%);
}

.container h1:nth-of-type(1){
    font-weight: normal;
    animation-name: left;
}

.container h1:nth-of-type(2){
    animation-name: right;
}

.container div{
    background-color: red;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 12px 1px rgba(0,0,0,0.32); 
    box-shadow: 0px 6px 12px 1px rgba(0,0,0,0.32);
}

.container p{
    color: hsl(229, 6%, 66%);
    font-size: 0.8rem;
    max-width: 400px;
}

header{
    margin-top: 50px;
    text-align: center;
}

header p{
    margin: 20px auto 0px;
    animation-name: top;
}


.container div img{
    max-width: 60px;
    margin-top: 20px;
    align-self: flex-end;
}

.container div p{
    margin-top: 10px;
}

main {
    width: 960px;
    max-width: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "    .      team-builder      .   "
    "supervisor team-builder calculator"
    "supervisor    karma     calculator"
    "    .         karma          .    ";

}

.supervisor,
.team-builder,
.karma,
.calculator,
header h1,
header p{
    
    opacity: 0;

    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
.supervisor{
    grid-area: supervisor;
    border-top: 4px solid hsl(180, 62%, 55%);
    animation-name: right;
}

@keyframes right{
    from{
        transform: translateX(-15px);
    }
    to{
        opacity: 1;
    }
}

.team-builder{
    grid-area: team-builder;
    align-self: end;
    border-top: 4px solid hsl(0, 78%, 62%);
    animation-name: top;
}

@keyframes top{
    from{
        transform: translateY(-15px);
    }
    to{
        opacity: 1;
    }
}

.karma{
    grid-area: karma;
    align-self: start;
    border-top: 4px solid hsl(34, 97%, 64%);
    animation-name: bottom;
}

@keyframes bottom{
    from{
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }
}

.calculator{
    grid-area: calculator;
    border-top: 4px solid hsl(212, 86%, 64%);
    animation-name: left;
   
}

@keyframes left{
    from{
        transform: translateX(15px);
    }
    to{
        opacity: 1;
    }
}



@media (max-width: 768px){
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "   supervisor team-builder  "
        "   karma calculator";
    }
}

@media (max-width: 375px){
    main{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "   supervisor  "
        "   team-builder"
        "   karma       "   
        "   calculator  ";
    }
    .container h1{
        font-size: 1.5rem;
    }
    .container header p{
        max-width: 90%;
    }
    
}